<?xml version='1.0' encoding='UTF-8'?>
<domain xmlns="http://xmlns.oracle.com/weblogic/domain" xmlns:sec="http://xmlns.oracle.com/weblogic/security" xmlns:wls="http://xmlns.oracle.com/weblogic/security/wls" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.oracle.com/weblogic/security/xacml http://xmlns.oracle.com/weblogic/security/xacml/1.0/xacml.xsd http://xmlns.oracle.com/weblogic/security/providers/passwordvalidator http://xmlns.oracle.com/weblogic/security/providers/passwordvalidator/1.0/passwordvalidator.xsd http://xmlns.oracle.com/weblogic/domain http://xmlns.oracle.com/weblogic/1.0/domain.xsd http://xmlns.oracle.com/weblogic/security http://xmlns.oracle.com/weblogic/1.0/security.xsd http://xmlns.oracle.com/weblogic/security/wls http://xmlns.oracle.com/weblogic/security/wls/1.0/wls.xsd http://xmlns.oracle.com/weblogic/security/extension http://xmlns.oracle.com/weblogic/1.0/security.xsd">
  <name>bifoundation_domain</name>
  <domain-version>10.3.5.0</domain-version>
  <security-configuration>
    <name>bifoundation_domain</name>
    <realm>
      <sec:authentication-provider xsi:type="wls:active-directory-authenticatorType">
        <sec:name>AD Authenticator</sec:name>
        <sec:control-flag>SUFFICIENT</sec:control-flag>
        <wls:host>crwin.crnet.org</wls:host>
        <wls:user-name-attribute>sAMAccountName</wls:user-name-attribute>
        <wls:principal>CN=Service Account : SRM App User,OU=Service Accounts,OU=General Accounts and Groups,DC=crwin,DC=crnet,DC=org</wls:principal>
        <wls:user-base-dn>OU=CRUK Staff,DC=crwin,DC=crnet,DC=org</wls:user-base-dn>
        <wls:credential-encrypted>{AES}qtQCvroqE8UwHTZvdVu4tT1BdKOZu4I62msXyCROecaB2WJlUZQd87KdQutfxYi+</wls:credential-encrypted>
        <wls:user-from-name-filter>(&amp;(sAMAccountName=%u)(objectclass=user))</wls:user-from-name-filter>
        <wls:all-users-filter>(&amp;(sAMAccountName=*)(objectclass=user))</wls:all-users-filter>
        <wls:group-base-dn>OU=CRUK Staff,DC=crwin,DC=crnet,DC=org</wls:group-base-dn>
        <wls:group-search-scope>onelevel</wls:group-search-scope>
        <wls:group-from-name-filter>(&amp;(sAMAccountName=%g)(objectclass=group))</wls:group-from-name-filter>
        <wls:static-group-name-attribute>sAMAccountName</wls:static-group-name-attribute>
        <wls:group-membership-searching>limited</wls:group-membership-searching>
      </sec:authentication-provider>
      <sec:authentication-provider xmlns:ext="http://xmlns.oracle.com/weblogic/security/extension" xsi:type="ext:bisql-group-providerType">
        <sec:name>SiebelGroupProvider</sec:name>
        <sec:control-flag>OPTIONAL</sec:control-flag>
        <ext:data-source-jndi-name>jdbc/BIDatabaseGroupDS</ext:data-source-jndi-name>
        <ext:sql-list-member-groups>SELECT RESP G_NAME FROM V_OBI_RESP WHERE LOGIN = UPPER(?)</ext:sql-list-member-groups>
        <ext:sql-list-groups>SELECT NAME G_NAME FROM S_RESP WHERE NAME LIKE ?</ext:sql-list-groups>
        <ext:sql-group-exists>SELECT NAME G_NAME FROM S_RESP WHERE NAME = ?</ext:sql-group-exists>
        <ext:sql-is-member>SELECT LOWER(LOGIN) G_MEMBER FROM V_OBI_RESP WHERE V_OBI_RESP.RESP= ? AND LOGIN = UPPER(?)</ext:sql-is-member>
        <ext:sql-get-group-description>SELECT DESC_TEXT G_DESCRIPTION FROM S_RESP WHERE NAME = ?</ext:sql-get-group-description>
      </sec:authentication-provider>
      <sec:authentication-provider xsi:type="wls:default-authenticatorType">
        <sec:control-flag>SUFFICIENT</sec:control-flag>
        <wls:use-retrieved-user-name-as-principal>true</wls:use-retrieved-user-name-as-principal>
      </sec:authentication-provider>
      <sec:authentication-provider xsi:type="wls:default-identity-asserterType">
        <sec:active-type>AuthenticatedUser</sec:active-type>
      </sec:authentication-provider>
      <sec:role-mapper xmlns:xac="http://xmlns.oracle.com/weblogic/security/xacml" xsi:type="xac:xacml-role-mapperType"></sec:role-mapper>
      <sec:authorizer xmlns:xac="http://xmlns.oracle.com/weblogic/security/xacml" xsi:type="xac:xacml-authorizerType"></sec:authorizer>
      <sec:adjudicator xsi:type="wls:default-adjudicatorType"></sec:adjudicator>
      <sec:credential-mapper xsi:type="wls:default-credential-mapperType"></sec:credential-mapper>
      <sec:cert-path-provider xsi:type="wls:web-logic-cert-path-providerType"></sec:cert-path-provider>
      <sec:cert-path-builder>WebLogicCertPathProvider</sec:cert-path-builder>
      <sec:name>myrealm</sec:name>
      <sec:password-validator xmlns:pas="http://xmlns.oracle.com/weblogic/security/providers/passwordvalidator" xsi:type="pas:system-password-validatorType">
        <sec:name>SystemPasswordValidator</sec:name>
        <pas:min-password-length>8</pas:min-password-length>
        <pas:min-numeric-or-special-characters>1</pas:min-numeric-or-special-characters>
      </sec:password-validator>
    </realm>
    <default-realm>myrealm</default-realm>
    <credential-encrypted>{AES}2U+SezFfaliYWLwMBlJcXURdZ84zpWtrvgWe0XblclTBUnRJToAjOV3xTAw891dOoXrRsOpnl9HMlOzZywk8VOlvTiSkhBBwOORe/lKU/HscTzKKETT3LMoaFRh+D4BV</credential-encrypted>
    <node-manager-username>weblogic</node-manager-username>
    <node-manager-password-encrypted>{AES}c9JlkYYbO1Z7qBticB3l4UxiK+kEetdA4ETAjILSbqI=</node-manager-password-encrypted>
  </security-configuration>
  <server>
    <name>AdminServer</name>
    <idle-connection-timeout>1000</idle-connection-timeout>
    <period-length>200000</period-length>
    <idle-periods-until-timeout>20</idle-periods-until-timeout>
    <dgc-idle-periods-until-timeout>21</dgc-idle-periods-until-timeout>
    <ssl>
      <name>AdminServer</name>
      <enabled>true</enabled>
      <hostname-verifier xsi:nil="true"></hostname-verifier>
      <hostname-verification-ignored>true</hostname-verification-ignored>
      <client-certificate-enforced>false</client-certificate-enforced>
      <listen-port>7002</listen-port>
      <two-way-ssl-enabled>false</two-way-ssl-enabled>
      <server-private-key-alias>server_identity</server-private-key-alias>
      <server-private-key-pass-phrase-encrypted>{AES}nLF9mcG1ocA0qd0ib4CWUnlNYWMKBPFVIWYBf65VIM4=</server-private-key-pass-phrase-encrypted>
      <jsse-enabled>true</jsse-enabled>
    </ssl>
    <machine>rea-srm-gobi01.crwin.crnet.org</machine>
    <listen-port>7001</listen-port>
    <listen-port-enabled>true</listen-port-enabled>
    <listen-address></listen-address>
    <java-compiler>javac</java-compiler>
    <client-cert-proxy-enabled>false</client-cert-proxy-enabled>
    <key-stores>CustomIdentityAndCustomTrust</key-stores>
    <custom-identity-key-store-file-name>/u01/app/oracle/obihome/wlserver_10.3/server/lib/customkeystore/identity.jks</custom-identity-key-store-file-name>
    <custom-identity-key-store-type>JKS</custom-identity-key-store-type>
    <custom-identity-key-store-pass-phrase-encrypted>{AES}XpOtJecFl4xSMyf52KzQzqDyU+/7rmJA+aWqjData+Y=</custom-identity-key-store-pass-phrase-encrypted>
    <custom-trust-key-store-file-name>/u01/app/oracle/obihome/wlserver_10.3/server/lib/customkeystore/rootTrust.jks</custom-trust-key-store-file-name>
    <custom-trust-key-store-type>JKS</custom-trust-key-store-type>
    <custom-trust-key-store-pass-phrase-encrypted>{AES}bMqlDk+2nzYq7yC5eqaOMBuC29WS2zSA1jzgsls/N2c=</custom-trust-key-store-pass-phrase-encrypted>
    <server-diagnostic-config>
      <name>AdminServer</name>
      <diagnostic-context-enabled>true</diagnostic-context-enabled>
      <wldf-diagnostic-volume>Low</wldf-diagnostic-volume>
    </server-diagnostic-config>
  </server>
  <server>
    <name>bi_server1</name>
    <ssl>
      <name>bi_server1</name>
      <enabled>true</enabled>
      <hostname-verifier xsi:nil="true"></hostname-verifier>
      <hostname-verification-ignored>false</hostname-verification-ignored>
      <client-certificate-enforced>false</client-certificate-enforced>
      <listen-port>9804</listen-port>
      <two-way-ssl-enabled>false</two-way-ssl-enabled>
      <server-private-key-alias>server_identity</server-private-key-alias>
      <server-private-key-pass-phrase-encrypted>{AES}7flVyw+QmMEBFMd42rF44AQs1RZkJ3heJjNKpxB7sDY=</server-private-key-pass-phrase-encrypted>
      <jsse-enabled>true</jsse-enabled>
    </ssl>
    <machine>rea-srm-gobi01.crwin.crnet.org</machine>
    <listen-port>9704</listen-port>
    <listen-port-enabled>true</listen-port-enabled>
    <cluster>bi_cluster</cluster>
    <listen-address></listen-address>
    <java-compiler>javac</java-compiler>
    <server-start>
      <name>bi_server1</name>
      <arguments>-Dserver.group=obi</arguments>
    </server-start>
    <jta-migratable-target>
      <name>bi_server1</name>
      <user-preferred-server>bi_server1</user-preferred-server>
      <cluster>bi_cluster</cluster>
    </jta-migratable-target>
    <client-cert-proxy-enabled>false</client-cert-proxy-enabled>
    <key-stores>CustomIdentityAndCustomTrust</key-stores>
    <custom-identity-key-store-file-name>/u01/app/oracle/obihome/wlserver_10.3/server/lib/customkeystore/identity.jks</custom-identity-key-store-file-name>
    <custom-identity-key-store-type>JKS</custom-identity-key-store-type>
    <custom-identity-key-store-pass-phrase-encrypted>{AES}ylgT/5BXI6Zb7yR3TrKffJIWcjXPiwmuYYK9BCOgwQ0=</custom-identity-key-store-pass-phrase-encrypted>
    <custom-trust-key-store-file-name>/u01/app/oracle/obihome/wlserver_10.3/server/lib/customkeystore/rootTrust.jks</custom-trust-key-store-file-name>
    <custom-trust-key-store-type>JKS</custom-trust-key-store-type>
    <custom-trust-key-store-pass-phrase-encrypted>{AES}ijNkPny2BWffHime/acQocKC5T2l0HX79/UgZbZZgm0=</custom-trust-key-store-pass-phrase-encrypted>
    <server-diagnostic-config>
      <name>bi_server1</name>
      <diagnostic-context-enabled>true</diagnostic-context-enabled>
      <wldf-diagnostic-volume>Low</wldf-diagnostic-volume>
    </server-diagnostic-config>
    <data-source>
      <rmi-jdbc-security xsi:nil="true"></rmi-jdbc-security>
    </data-source>
  </server>
  <cluster>
    <name>bi_cluster</name>
    <cluster-messaging-mode>unicast</cluster-messaging-mode>
  </cluster>
  <production-mode-enabled>true</production-mode-enabled>
  <embedded-ldap>
    <name>bifoundation_domain</name>
    <credential-encrypted>{AES}7P29752/3zvsM7dkLQyquShyJlw4gJAyBY7CzRbdZcE34DhcNLk7hjeu53o+hT5z</credential-encrypted>
  </embedded-ldap>
  <configuration-version>10.3.5.0</configuration-version>
  <app-deployment>
    <name>FMW Welcome Page Application#11.1.0.0.0</name>
    <target>AdminServer</target>
    <module-type>ear</module-type>
    <source-path>/u01/app/oracle/obihome/oracle_common/modules/oracle.jrf_11.1.1/fmw-welcome.ear</source-path>
    <deployment-order>5</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </app-deployment>
  <app-deployment>
    <name>DMS Application#11.1.1.1.0</name>
    <target>bi_cluster,AdminServer</target>
    <module-type>war</module-type>
    <source-path>/u01/app/oracle/obihome/oracle_common/modules/oracle.dms_11.1.1/dms.war</source-path>
    <deployment-order>5</deployment-order>
    <security-dd-model>CustomRoles</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </app-deployment>
  <app-deployment>
    <name>wsil-wls</name>
    <target>bi_cluster,AdminServer</target>
    <module-type>ear</module-type>
    <source-path>/u01/app/oracle/obihome/oracle_common/modules/oracle.webservices_11.1.1/wsil-wls.ear</source-path>
    <deployment-order>5</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </app-deployment>
  <app-deployment>
    <name>ESSAPP</name>
    <target>bi_cluster</target>
    <module-type>ear</module-type>
    <source-path>/u01/app/oracle/obihome/Oracle_BI1/ess/archives/stub-ess-app.ear</source-path>
    <deployment-order>50</deployment-order>
    <security-dd-model>CustomRoles</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </app-deployment>
  <app-deployment>
    <name>wsm-pm</name>
    <target>bi_cluster,AdminServer</target>
    <module-type>ear</module-type>
    <source-path>/u01/app/oracle/obihome/oracle_common/modules/oracle.wsm.pm_11.1.1/wsm-pm.ear</source-path>
    <deployment-order>5</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </app-deployment>
  <app-deployment>
    <name>em</name>
    <target>AdminServer</target>
    <module-type>ear</module-type>
    <source-path>/u01/app/oracle/obihome/user_projects/applications/bifoundation_domain/em.ear</source-path>
    <deployment-order>400</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </app-deployment>
  <app-deployment>
    <name>bilocaladmin#11.1.1</name>
    <target>bi_cluster</target>
    <module-type>ear</module-type>
    <source-path>/u01/app/oracle/obihome/Oracle_BI1/bifoundation/jee/bilocaladmin.ear</source-path>
    <deployment-order>253</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </app-deployment>
  <app-deployment>
    <name>biadminservices#11.1.1</name>
    <target>AdminServer</target>
    <module-type>ear</module-type>
    <source-path>/u01/app/oracle/obihome/Oracle_BI1/bifoundation/jee/biadminservices.ear</source-path>
    <deployment-order>257</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </app-deployment>
  <app-deployment>
    <name>bicontentserver#11.1.1</name>
    <target>bi_cluster</target>
    <module-type>ear</module-type>
    <source-path>/u01/app/oracle/obihome/Oracle_BI1/bifoundation/jee/bicontentserver.ear</source-path>
    <deployment-order>300</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </app-deployment>
  <app-deployment>
    <name>biadminutils#11.1.1</name>
    <target>AdminServer</target>
    <module-type>ear</module-type>
    <source-path>/u01/app/oracle/obihome/Oracle_BI1/bifoundation/jee/biadminutils.ear</source-path>
    <deployment-order>240</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </app-deployment>
  <app-deployment>
    <name>bicomposer#11.1.1</name>
    <target>bi_cluster</target>
    <module-type>ear</module-type>
    <source-path>/u01/app/oracle/obihome/Oracle_BI1/modules/oracle.bi.presentation_11.1.1/bicomposer.ear</source-path>
    <deployment-order>100</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </app-deployment>
  <app-deployment>
    <name>asyncadminservice#11.1.1</name>
    <target>bi_cluster</target>
    <module-type>ear</module-type>
    <source-path>/u01/app/oracle/obihome/Oracle_BI1/bifoundation/jee/AsyncAdminService.ear</source-path>
    <deployment-order>260</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </app-deployment>
  <app-deployment>
    <name>jbips#11.1.1</name>
    <target>bi_cluster</target>
    <module-type>ear</module-type>
    <source-path>/u01/app/oracle/obihome/Oracle_BI1/bifoundation/jee/jbips.ear</source-path>
    <deployment-order>100</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </app-deployment>
  <app-deployment>
    <name>bioffice#11.1.1</name>
    <target>bi_cluster</target>
    <module-type>ear</module-type>
    <source-path>/u01/app/oracle/obihome/Oracle_BI1/bifoundation/jee/bioffice.ear</source-path>
    <deployment-order>300</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </app-deployment>
  <app-deployment>
    <name>biofficeclient#11.1.1</name>
    <target>bi_cluster</target>
    <module-type>war</module-type>
    <source-path>/u01/app/oracle/obihome/Oracle_BI1/bifoundation/jee/biofficeclient.war</source-path>
    <deployment-order>301</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </app-deployment>
  <app-deployment>
    <name>analytics#11.1.1</name>
    <target>bi_cluster</target>
    <module-type>ear</module-type>
    <source-path>/u01/app/oracle/obihome/Oracle_BI1/bifoundation/jee/analytics.ear</source-path>
    <deployment-order>250</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </app-deployment>
  <app-deployment>
    <name>bimiddleware#11.1.1</name>
    <target>bi_cluster</target>
    <module-type>ear</module-type>
    <source-path>/u01/app/oracle/obihome/Oracle_BI1/bifoundation/jee/bimiddleware.ear</source-path>
    <deployment-order>251</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </app-deployment>
  <app-deployment>
    <name>bisearch#11.1.1</name>
    <target>bi_cluster</target>
    <module-type>ear</module-type>
    <source-path>/u01/app/oracle/obihome/Oracle_BI1/bifoundation/jee/bisearch.ear</source-path>
    <deployment-order>254</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </app-deployment>
  <app-deployment>
    <name>bisecurityadmin#11.1.1</name>
    <target>bi_cluster,AdminServer</target>
    <module-type>ear</module-type>
    <source-path>/u01/app/oracle/obihome/Oracle_BI1/bifoundation/jee/bisecurityadmin.ear</source-path>
    <deployment-order>256</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </app-deployment>
  <app-deployment>
    <name>bisecurity#11.1.1</name>
    <target>bi_cluster</target>
    <module-type>ear</module-type>
    <source-path>/u01/app/oracle/obihome/Oracle_BI1/bifoundation/jee/bisecurity.ear</source-path>
    <deployment-order>257</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </app-deployment>
  <app-deployment>
    <name>mapviewer#11.1.1</name>
    <target>bi_cluster</target>
    <module-type>ear</module-type>
    <source-path>/u01/app/oracle/obihome/Oracle_BI1/bifoundation/jee/mapviewer.ear</source-path>
    <deployment-order>258</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </app-deployment>
  <app-deployment>
    <name>adminservice#11.1.1</name>
    <target>bi_cluster</target>
    <module-type>ear</module-type>
    <source-path>/u01/app/oracle/obihome/Oracle_BI1/bifoundation/jee/AdminService.ear</source-path>
    <deployment-order>259</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </app-deployment>
  <app-deployment>
    <name>biadminservlet#11.1.1</name>
    <target>bi_cluster</target>
    <module-type>war</module-type>
    <source-path>/u01/app/oracle/obihome/Oracle_BI1/bifoundation/javahost/lib/obisintegration/biadminservlet.war</source-path>
    <deployment-order>261</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </app-deployment>
  <app-deployment>
    <name>NonJ2EEManagement#11.1.1</name>
    <target>AdminServer</target>
    <module-type>ear</module-type>
    <source-path>servers/AdminServer/upload/NonJ2EEManagement/11.1.1/app/NonJ2EEManagement.ear</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </app-deployment>
  <app-deployment>
    <name>bipublisher#11.1.1</name>
    <target>bi_cluster</target>
    <module-type>ear</module-type>
    <source-path>/u01/app/oracle/obihome/Oracle_BI1/bifoundation/jee/xmlpserver.ear</source-path>
    <deployment-order>510</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </app-deployment>
  <library>
    <name>oracle.bi.jbips#11.1.1@0.1</name>
    <target>bi_cluster,AdminServer</target>
    <module-type>ear</module-type>
    <source-path>/u01/app/oracle/obihome/oracle_common/modules/oracle.bi.presentation_11.1.1/bi-jbips-slib-stub.ear</source-path>
    <deployment-order>100</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>oracle.bi.composer#11.1.1@0.1</name>
    <target>bi_cluster,AdminServer</target>
    <module-type>war</module-type>
    <source-path>/u01/app/oracle/obihome/oracle_common/modules/oracle.bi.presentation_11.1.1/bi-composer-slib-stub.war</source-path>
    <deployment-order>100</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>oracle.bi.adf.model.slib#1.0@11.1.1.2.0</name>
    <target>bi_cluster,AdminServer</target>
    <module-type>ear</module-type>
    <source-path>/u01/app/oracle/obihome/oracle_common/modules/oracle.bi.presentation_11.1.1/bi-adf-model-slib.ear</source-path>
    <deployment-order>100</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>oracle.bi.adf.view.slib#1.0@11.1.1.2.0</name>
    <target>bi_cluster,AdminServer</target>
    <module-type>war</module-type>
    <source-path>/u01/app/oracle/obihome/oracle_common/modules/oracle.bi.presentation_11.1.1/bi-adf-view-slib.war</source-path>
    <deployment-order>100</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>oracle.bi.adf.webcenter.slib#1.0@11.1.1.2.0</name>
    <target>bi_cluster,AdminServer</target>
    <module-type>war</module-type>
    <source-path>/u01/app/oracle/obihome/oracle_common/modules/oracle.bi.presentation_11.1.1/bi-adf-webcenter-slib.war</source-path>
    <deployment-order>100</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>oracle.wsm.seedpolicies#11.1.1@11.1.1</name>
    <target>bi_cluster,AdminServer</target>
    <source-path>/u01/app/oracle/obihome/oracle_common/modules/oracle.wsm.policies_11.1.1/wsm-seed-policies.jar</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>oracle.jsp.next#11.1.1@11.1.1</name>
    <target>bi_cluster,AdminServer</target>
    <source-path>/u01/app/oracle/obihome/oracle_common/modules/oracle.jsp_11.1.1/ojsp.jar</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>oracle.dconfig-infra#11@11.1.1.1.0</name>
    <target>bi_cluster,AdminServer</target>
    <source-path>/u01/app/oracle/obihome/oracle_common/modules/oracle.dconfig-infra_11.1.1.jar</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>orai18n-adf#11@11.1.1.1.0</name>
    <target>bi_cluster,AdminServer</target>
    <source-path>/u01/app/oracle/obihome/oracle_common/modules/oracle.nlsgdk_11.1.0/orai18n-adf.jar</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>oracle.adf.dconfigbeans#1.0@11.1.1.2.0</name>
    <target>bi_cluster,AdminServer</target>
    <source-path>/u01/app/oracle/obihome/oracle_common/modules/oracle.adf.dconfigbeans_11.1.1.jar</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>oracle.pwdgen#11.1.1@11.1.1.2.0</name>
    <target>bi_cluster,AdminServer</target>
    <source-path>/u01/app/oracle/obihome/oracle_common/modules/oracle.pwdgen_11.1.1/pwdgen.jar</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>oracle.jrf.system.filter</name>
    <target>bi_cluster,AdminServer</target>
    <source-path>/u01/app/oracle/obihome/oracle_common/modules/oracle.jrf_11.1.1/system-filters.war</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>adf.oracle.domain#1.0@11.1.1.2.0</name>
    <target>bi_cluster,AdminServer</target>
    <module-type>ear</module-type>
    <source-path>/u01/app/oracle/obihome/oracle_common/modules/oracle.adf.model_11.1.1/adf.oracle.domain.ear</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>adf.oracle.businesseditor#1.0@11.1.1.2.0</name>
    <target>bi_cluster,AdminServer</target>
    <module-type>war</module-type>
    <source-path>/u01/app/oracle/obihome/oracle_common/modules/oracle.adf.businesseditor_11.1.1/adf.businesseditor.war</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>oracle.adf.management#1.0@11.1.1.2.0</name>
    <target>bi_cluster,AdminServer</target>
    <module-type>war</module-type>
    <source-path>/u01/app/oracle/obihome/oracle_common/modules/oracle.adf.management_11.1.1/adf-management.war</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>adf.oracle.domain.webapp#1.0@11.1.1.2.0</name>
    <target>bi_cluster,AdminServer</target>
    <module-type>war</module-type>
    <source-path>/u01/app/oracle/obihome/oracle_common/modules/oracle.adf.view_11.1.1/adf.oracle.domain.webapp.war</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>jsf#1.2@1.2.9.0</name>
    <target>bi_cluster,AdminServer</target>
    <module-type>war</module-type>
    <source-path>/u01/app/oracle/obihome/wlserver_10.3/common/deployable-libraries/jsf-1.2.war</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>jstl#1.2@1.2.0.1</name>
    <target>bi_cluster,AdminServer</target>
    <module-type>war</module-type>
    <source-path>/u01/app/oracle/obihome/wlserver_10.3/common/deployable-libraries/jstl-1.2.war</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>UIX#11@11.1.1.1.0</name>
    <target>bi_cluster,AdminServer</target>
    <module-type>war</module-type>
    <source-path>/u01/app/oracle/obihome/oracle_common/modules/oracle.uix_11.1.1/uix11.war</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>ohw-rcf#5@5.0</name>
    <target>bi_cluster,AdminServer</target>
    <module-type>war</module-type>
    <source-path>/u01/app/oracle/obihome/oracle_common/modules/oracle.help_5.0/ohw-rcf.war</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>ohw-uix#5@5.0</name>
    <target>bi_cluster,AdminServer</target>
    <module-type>war</module-type>
    <source-path>/u01/app/oracle/obihome/oracle_common/modules/oracle.help_5.0/ohw-uix.war</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>oracle.adf.desktopintegration.model#1.0@11.1.1.2.0</name>
    <target>bi_cluster,AdminServer</target>
    <module-type>ear</module-type>
    <source-path>/u01/app/oracle/obihome/oracle_common/modules/oracle.adf.desktopintegration.model_11.1.1/oracle.adf.desktopintegration.model.ear</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>oracle.adf.desktopintegration#1.0@11.1.1.2.0</name>
    <target>bi_cluster,AdminServer</target>
    <module-type>war</module-type>
    <source-path>/u01/app/oracle/obihome/oracle_common/modules/oracle.adf.desktopintegration_11.1.1/oracle.adf.desktopintegration.war</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>oracle.bpm.mgmt#11.1.1@11.1.1</name>
    <target>AdminServer</target>
    <source-path>/u01/app/oracle/obihome/oracle_common/bpm/modules/oracle.bpm.mgmt_11.1.1/oracle.bpm.bpmn-em-tools.jar</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>emai</name>
    <target>AdminServer</target>
    <module-type>war</module-type>
    <source-path>/u01/app/oracle/obihome/oracle_common/sysman/archives/applications/11_1_1_0_0_emai.war</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>oracle.ess.client#11@1.0.0.0.0</name>
    <target>bi_cluster</target>
    <source-path>/u01/app/oracle/obihome/Oracle_BI1/modules/oracle.ess.client_11.1.1/stub-ess-client.ear</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>oracle.ess#11@1.0.0.0.0</name>
    <target>bi_cluster</target>
    <source-path>/u01/app/oracle/obihome/Oracle_BI1/modules/oracle.ess_11.1.1/stub-ess.ear</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>oracle.webcenter.skin#11.1.1@11.1.1</name>
    <target>AdminServer</target>
    <module-type>ear</module-type>
    <source-path>/u01/app/oracle/obihome/oracle_common/webcenter/modules/oracle.portlet.server_11.1.1/oracle.webcenter.skin.ear</source-path>
    <deployment-order>300</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>oracle.webcenter.composer#11.1.1@11.1.1</name>
    <target>AdminServer</target>
    <module-type>war</module-type>
    <source-path>/u01/app/oracle/obihome/oracle_common/webcenter/modules/oracle.webcenter.framework_11.1.1/oracle.webcenter.composer.war</source-path>
    <deployment-order>300</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>emas</name>
    <target>AdminServer</target>
    <module-type>war</module-type>
    <source-path>/u01/app/oracle/obihome/oracle_common/sysman/archives/applications/11_1_1_0_0_emas.war</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>emcore</name>
    <target>AdminServer</target>
    <module-type>war</module-type>
    <source-path>/u01/app/oracle/obihome/oracle_common/sysman/archives/applications/11_1_1_0_0_emcore.war</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>bi.em</name>
    <target>AdminServer</target>
    <module-type>war</module-type>
    <source-path>/u01/app/oracle/obihome/Oracle_BI1/sysman/archives/fmwctrl/plugins/11_1_1_0_0_bi.war</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>essbase.em</name>
    <target>AdminServer</target>
    <module-type>war</module-type>
    <source-path>/u01/app/oracle/obihome/Oracle_BI1/sysman/archives/fmwctrl/plugins/11_1_1_0_0_essbase.war</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>oracle.biopmn#11.1.1</name>
    <target>bi_cluster,AdminServer</target>
    <source-path>/u01/app/oracle/obihome/Oracle_BI1/bifoundation/jlib/oracle-biopmn.jar</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>oracle.applcore.model#0.1@11.1.1.0.0</name>
    <target>bi_cluster</target>
    <module-type>ear</module-type>
    <source-path>/u01/app/oracle/obihome/oracle_common/atgpf/modules/oracle.applcore.model_11.1.1/oracle.applcore.model.stub.ear</source-path>
    <deployment-order>500</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>oracle.applcore.view#0.1@11.1.1.0.0</name>
    <target>AdminServer</target>
    <module-type>war</module-type>
    <source-path>/u01/app/oracle/obihome/oracle_common/atgpf/modules/oracle.applcore.view_11.1.1/oracle.applcore.view.stub.war</source-path>
    <deployment-order>500</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>oracle.applcore.config#0.1@11.1.1.0.0</name>
    <target>bi_cluster</target>
    <module-type>jar</module-type>
    <source-path>/u01/app/oracle/obihome/oracle_common/atgpf/modules/features/oracle.applcore.config.stub.jar</source-path>
    <deployment-order>500</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>epm-shared-libraries#11.1.2.0@11.1.2.0</name>
    <target>bi_cluster,AdminServer</target>
    <module-type>ear</module-type>
    <source-path>/u01/app/oracle/obihome/Oracle_BI1/common/jlib/11.1.2.0/epm.jar</source-path>
    <deployment-order>500</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>bijdbc#11.1.1</name>
    <target>bi_cluster</target>
    <module-type>jar</module-type>
    <source-path>/u01/app/oracle/obihome/Oracle_BI1/bifoundation/jdbc/jdk16/bijdbc.jar</source-path>
    <deployment-order>300</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>oracle.bi.composer#11.1.1@11.1.1</name>
    <target>bi_cluster,AdminServer</target>
    <module-type>war</module-type>
    <source-path>/u01/app/oracle/obihome/Oracle_BI1/modules/oracle.bi.presentation_11.1.1/bi-composer-slib.war</source-path>
    <deployment-order>100</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>oracle.bi.jbips#11.1.1@11.1.1</name>
    <target>bi_cluster,AdminServer</target>
    <module-type>ear</module-type>
    <source-path>/u01/app/oracle/obihome/Oracle_BI1/modules/oracle.bi.presentation_11.1.1/bi-jbips-slib.ear</source-path>
    <deployment-order>100</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>oracle.bi.jbips.commons#11.1.1@11.1.1</name>
    <target>bi_cluster</target>
    <module-type>ear</module-type>
    <source-path>/u01/app/oracle/obihome/Oracle_BI1/modules/oracle.bi.presentation_11.1.1/bi-jbips-commons-slib.ear</source-path>
    <deployment-order>100</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>oracle.bi.jbips.soap#11.1.1@11.1.1</name>
    <target>bi_cluster</target>
    <module-type>ear</module-type>
    <source-path>/u01/app/oracle/obihome/Oracle_BI1/modules/oracle.bi.presentation_11.1.1/bi-jbips-soap-slib.ear</source-path>
    <deployment-order>100</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>bip-shared-libraries#11.1.1</name>
    <target>bi_cluster</target>
    <module-type>ear</module-type>
    <source-path>/u01/app/oracle/obihome/Oracle_BI1/modules/BIPWebCP.jar</source-path>
    <deployment-order>500</deployment-order>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <machine xsi:type="unix-machineType">
    <name>rea-srm-gobi01.crwin.crnet.org</name>
    <node-manager>
      <listen-address>rea-srm-gobi01.crwin.crnet.org</listen-address>
      <listen-port>9556</listen-port>
    </node-manager>
  </machine>
  <jms-server>
    <name>JRFWSAsyncJmsServer</name>
    <target>bi_server1</target>
    <persistent-store>JRFWSAsyncFileStore</persistent-store>
    <messages-maximum>200000</messages-maximum>
  </jms-server>
  <jms-server>
    <name>BipJmsServer</name>
    <target>bi_server1</target>
    <persistent-store>BipJmsStore</persistent-store>
  </jms-server>
  <migratable-target>
    <name>bi_server1 (migratable)</name>
    <notes>This is a system generated default migratable target for a server. Do not delete manually.</notes>
    <user-preferred-server>bi_server1</user-preferred-server>
    <cluster>bi_cluster</cluster>
  </migratable-target>
  <self-tuning>
    <work-manager>
      <name>weblogic.wsee.mdb.DispatchPolicy</name>
      <target>bi_cluster</target>
    </work-manager>
  </self-tuning>
  <shutdown-class>
    <name>JOC-Shutdown</name>
    <target>bi_cluster,AdminServer</target>
    <deployment-order>150</deployment-order>
    <class-name>oracle.ias.cache.Shutdown</class-name>
  </shutdown-class>
  <shutdown-class>
    <name>DMSShutdown</name>
    <target>bi_cluster,AdminServer</target>
    <deployment-order>150</deployment-order>
    <class-name>oracle.dms.wls.DMSShutdown</class-name>
  </shutdown-class>
  <startup-class>
    <name>JRF Startup Class</name>
    <target>bi_cluster,AdminServer</target>
    <deployment-order>110</deployment-order>
    <class-name>oracle.jrf.wls.JRFStartup</class-name>
    <failure-is-fatal>false</failure-is-fatal>
    <load-before-app-deployments>true</load-before-app-deployments>
    <load-before-app-activation>true</load-before-app-activation>
  </startup-class>
  <startup-class>
    <name>JPS Startup Class</name>
    <target>bi_cluster,AdminServer</target>
    <deployment-order>115</deployment-order>
    <class-name>oracle.security.jps.wls.JpsWlsStartupClass</class-name>
    <failure-is-fatal>false</failure-is-fatal>
    <load-before-app-deployments>true</load-before-app-deployments>
    <load-before-app-activation>true</load-before-app-activation>
  </startup-class>
  <startup-class>
    <name>ODL-Startup</name>
    <target>bi_cluster,AdminServer</target>
    <deployment-order>145</deployment-order>
    <class-name>oracle.core.ojdl.weblogic.ODLConfiguration</class-name>
    <failure-is-fatal>false</failure-is-fatal>
    <load-before-app-deployments>true</load-before-app-deployments>
    <load-before-app-activation>true</load-before-app-activation>
  </startup-class>
  <startup-class>
    <name>AWT Application Context Startup Class</name>
    <target>bi_cluster,AdminServer</target>
    <deployment-order>150</deployment-order>
    <class-name>oracle.jrf.AppContextStartup</class-name>
    <failure-is-fatal>false</failure-is-fatal>
    <load-before-app-deployments>true</load-before-app-deployments>
    <load-before-app-activation>true</load-before-app-activation>
  </startup-class>
  <startup-class>
    <name>JMX Framework Startup Class</name>
    <target>bi_cluster,AdminServer</target>
    <deployment-order>150</deployment-order>
    <class-name>oracle.as.jmx.framework.wls.spi.StartupListener</class-name>
    <failure-is-fatal>false</failure-is-fatal>
    <load-before-app-deployments>true</load-before-app-deployments>
    <load-before-app-activation>true</load-before-app-activation>
  </startup-class>
  <startup-class>
    <name>Web Services Startup Class</name>
    <target>bi_cluster,AdminServer</target>
    <deployment-order>150</deployment-order>
    <class-name>oracle.j2ee.ws.server.WebServiceServerStartup</class-name>
    <failure-is-fatal>false</failure-is-fatal>
    <load-before-app-deployments>true</load-before-app-deployments>
    <load-before-app-activation>true</load-before-app-activation>
  </startup-class>
  <startup-class>
    <name>JOC-Startup</name>
    <target>bi_cluster,AdminServer</target>
    <deployment-order>150</deployment-order>
    <class-name>oracle.ias.cache.Startup</class-name>
    <failure-is-fatal>false</failure-is-fatal>
    <load-before-app-deployments>true</load-before-app-deployments>
    <load-before-app-activation>true</load-before-app-activation>
  </startup-class>
  <startup-class>
    <name>DMS-Startup</name>
    <target>bi_cluster,AdminServer</target>
    <deployment-order>150</deployment-order>
    <class-name>oracle.dms.wls.DMSStartup</class-name>
    <failure-is-fatal>false</failure-is-fatal>
    <load-before-app-deployments>true</load-before-app-deployments>
    <load-before-app-activation>true</load-before-app-activation>
  </startup-class>
  <file-store>
    <name>JRFWSAsyncFileStore</name>
    <directory>JRFWSAsyncFileStore</directory>
    <target>bi_server1</target>
  </file-store>
  <file-store>
    <name>BipJmsStore</name>
    <directory>BipJmsStore</directory>
    <target>bi_server1</target>
  </file-store>
  <jms-system-resource>
    <name>JRFWSAsyncJmsModule</name>
    <target>bi_cluster</target>
    <sub-deployment>
      <name>JRFWS_JMS_MODULE_SUBDEPLOYMENT_JRFWSJMSServer</name>
      <target>JRFWSAsyncJmsServer</target>
    </sub-deployment>
    <descriptor-file-name>jms/jrfwsasyncjmsmodule-jms.xml</descriptor-file-name>
  </jms-system-resource>
  <jms-system-resource>
    <name>BipJmsResource</name>
    <target>bi_cluster</target>
    <sub-deployment>
      <name>BipJmsSubDeployment</name>
      <target>BipJmsServer</target>
    </sub-deployment>
    <descriptor-file-name>jms/bipjmsresource-jms.xml</descriptor-file-name>
  </jms-system-resource>
  <admin-server-name>AdminServer</admin-server-name>
  <wldf-system-resource>
    <name>Module-FMWDFW</name>
    <target>bi_cluster,AdminServer</target>
    <descriptor-file-name>diagnostics/Module-FMWDFW-2818.xml</descriptor-file-name>
    <description>Creates FMWDFW incidents based on unchecked Exceptions and critical errors</description>
  </wldf-system-resource>
  <jdbc-system-resource>
    <name>mds-owsm</name>
    <target>bi_cluster,AdminServer</target>
    <descriptor-file-name>jdbc/mds-owsm-jdbc.xml</descriptor-file-name>
  </jdbc-system-resource>
  <jdbc-system-resource>
    <name>EPMSystemRegistry</name>
    <target>bi_cluster,AdminServer</target>
    <descriptor-file-name>jdbc/EPMSystemRegistry-jdbc.xml</descriptor-file-name>
  </jdbc-system-resource>
  <jdbc-system-resource>
    <name>bip_datasource</name>
    <target>bi_cluster</target>
    <descriptor-file-name>jdbc/bip_datasource-jdbc.xml</descriptor-file-name>
  </jdbc-system-resource>
  <jdbc-system-resource>
    <name>BIDatabaseGroupDS</name>
    <target>bi_server1,AdminServer</target>
    <descriptor-file-name>jdbc/BIDatabaseGroupDS-5916-jdbc.xml</descriptor-file-name>
  </jdbc-system-resource>
</domain>